body{
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    width: 100%;
}


#ola_nome{
    font-weight: bold;
  }
  
  #sair{
    font-weight: bold;
  }
  
  #lista li:hover{
    opacity: 100%;
    color: #ffd7c1;
  }
  
  #sair li:hover{
    opacity: 100%;
    color: #ffd7c1;
}

/* body */

.conteudo{
   width: 100%;
   display: flex;
   flex-direction: column;
   /* justify-content: center;
   align-items: center; */
   margin-left: 40px;
   margin-top: 50px;
}

.livro{
    margin-top: 20px;
    height: 100%;
    width: 75%;
    border:  solid red 2px;
    display: flex;
    justify-self: center;
}

.livro p {
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.livro span{
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Ysabeau', sans-serif;
}

.imgLivro img{
    width: 220px;
    height: 320px;
    padding: 0.5rem;
}

#div_resultado {
    
}



.botao_navegar{
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 60px;
}

.botao_navegar button{
    width: 100px;
    height: 50px;
    border-radius: 44%;
    border: none;
    background-color: #f15e5e;
    color: #3c1b18;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}

.botao_navegar button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #f06060;
    opacity: 100%;
    color: #ffe0e0;
}

.livro button{
    width: 100px;
    font-size: 15px;
    background-color: pink;
    border: none;
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.livro button:hover{
    background-color: #f06060;
    color: #ffe0e0;
    border: 7%;
}
