body{
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    width: 100%;
}


#ola_nome{
    font-weight: bold;
  }
  
  #sair{
    font-weight: bold;
  }
  
  #lista li:hover{
    opacity: 100%;
    color: #ffd7c1;
  }
  
  #sair li:hover{
    opacity: 100%;
    color: #ffd7c1;
}

/* body */

.container{ 
   display: flex;
   flex-direction: column;
}

.livro{
    margin-top: 20px;
    height: 100%;
    width: 75%;
    border: none;
    border-radius: 2%;
    display: flex;
    justify-self: center;
    margin-left: 40px;
    margin-top: 50px;
    background-color: #fae3e3;

}

.livro p {
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.livro span{
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Ysabeau', sans-serif;
}

.imgLivro img{
    width: 220px;
    height: 320px;
    padding: 0.5rem;
}

#div_resultado {
    
    margin-top:cd 20px;
}



.botao_navegar{
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 60px;
}

.botao_navegar button{
    width: 100px;
    height: 50px;
    border-radius: 44%;
    border: none;
    background-color: #f15e5e;
    color: #3c1b18;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}

.botao_navegar button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #f06060;
    opacity: 100%;
    color: #ffe0e0;
}


.botao_pagina{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.botao_pagina button{
    height: 40px;
    width: 40px;
    border-radius: 30%;
    border: none;
    background-color: #f06060;
    opacity: 0.9;
    color: black;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    cursor: pointer;
}

.botao_pagina button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: #ee1b1b;
    color: #ffe0e0;
}
