/* header */

body{
    padding: 0%;
    margin: 0%;
    background-color: #f2ebbf;
    
}

header{
    height: 9vh;
    border-bottom: 2px solid #f15e5e;
    display: flex;
    justify-content: space-between;
    background-color: #f79a87;
    color: #543633;
}

a{
    text-decoration: none;
    color: #543633;
  
  }


.div_nav{
    /* width: 100%; */
    display: flex;
    flex-direction: row-reverse;
}

.div_nav ul{
    display: flex;
    flex-direction: row;
    gap:32px;
    font-size: 18px;
    list-style: none;
    padding: 0%;
}

.div_nav div{

    width: 700px;
    display: flex;
    justify-content: space-around;
}

.logo{
    width: 200px;
    text-align: center;
}

.logo h1{
    text-align: center;
    display: flex;
    align-items: center;
    height: 20px;
    width: 500px;
    padding-left: 15%;
    color: #543633;
}


#ola_nome{
    font-weight: bold;
  }
  
  #sair{
    font-weight: bold;
  }
  
  #lista li:hover{
    opacity: 100%;
    color: #ffd7c1;
  }
  
  #sair li:hover{
    opacity: 100%;
    color: #ffd7c1;
  }

/* body */

/* parte 1 */

.slogan{
    /* width: 100%; */
    height: 350px;
    border: 2px solid rgb(210, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68px;
    background-image: url(../imagens/e6419d885199bcd55faded23cf722a11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Abril Fatface', cursive;
}

.tempos_antigos{
    height: 1090px;
    /* width: 100%; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 160px;
}


.titulo1 {
   height: 140px;
   /* width: 100%; */
   margin-left: 15px;
   margin-bottom: 50px;
}

.imagens-texto-1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 35px;
}

.imagens-texto-1 img{
    border-radius: 5%;
}


.titulo1 span{
    font-size: 40px;
    margin-left: 170px;
    font-family: 'Crimson Text', serif;
}

.hr-1{
    width: 12%;
    margin-left: -5px;
    margin-top: -19px;
    
}

.hr-2{
    width: 5%;
    margin-left: -5px;
    background-color: red;
}

.texto1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: -60px;
}

.texto1 p{
    width: 35%;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

#linhaVertical{
    height: 290px;
    border-left: 2px solid rgb(0, 0, 0);
}

#img2{
    margin-top: 40px;
}

.texto2 {
    /* width: 100%; */
    height: 900px;
    display: flex;
    justify-content: end;
    margin-top: 50px;
    gap: 160px;
    margin-left: 200px;
    text-align: center;
}

.texto2 img{
    margin-right: 220px;
    width: 240px;
    height: 315px;
    border-radius: 10%;
}

.texto2 p {
    width: 540px;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

/* parte 2 */

.escritores{
    /* width: 100%; */
    height: 1600px;
    gap: 100px;
    background-color: rgb(20, 19, 19);
    color: white;
}

.titulo2{
    height: 150px;
}

.titulo2 span{
   display: flex;
   justify-content: end;
   margin-right: 60px;
   color: white;
}

.hr-3{
    width: 55%;
    margin-left: -5px;
    margin-top: -19px;
    
}

.hr-4{
    width: 50%;
    margin-left: -5px;

}

.titulo2 span{
    font-size: 38px;
}




.imagens_linha1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.imagens_linha1 img{
    border-radius: 10%;
}

.nomes_linha1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.nomes_linha1 span{
    display: flex;
    text-align: center;
    font-family: 'Scope One', serif; 
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.textos_linha1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.textos_linha1 span{
    display: flex;
    text-align: center;
    font-family: 'Crimson Text', serif; 
    font-size: 19px;
    margin-top: 18px;
    width: 300px;
    margin-left: 7px;
}




.imagens_linha2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 110px;
}

.imagens_linha2 img{
    border-radius: 10%;
}

.nomes_linha2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Scope One', serif;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}


.textos_linha2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.textos_linha2 span{
    width: 280px;
    font-family: 'Crimson Text', serif; 
    font-size: 19px;
    margin-top: 18px;
}


/* parte 3 */

.importancia_livros{
    /* width: 100%; */
    height: 1000px;
}

.titulo3{
    width: 70%;
    height: 30px;
    margin-top: 60px;
}

.hr-5{
    width: 60%;
    margin-left: -5px;
    margin-top: -19px;
}

.hr-6{
    width: 50%;
    margin-left: -5px;

}
.titulo3 span{
    font-size: 38px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.texto1_parte3 {
    /* width: 100%; */
    height: 450px;
}

.texto1_parte3 p { 
    width: 540px;
    font-size: 22px;
    display: flex;
    
}

.texto1_parte3{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.final{
    height: 100px;

}

.texto p{

    margin-left: 10%;
    padding-top: 15%;
    width: 500px;
}

.texto p img{

    border-radius: 30px;
}

.texto .img1{

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 1000px;
    border-radius: 30px;
}

.texto .img2{

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 700px;
    border-radius: 30px;
    

}

.final p {
    font-size: 22px;
    margin-top: -20px;
    font-family: 'Raleway', sans-serif;
}

.livros_texto {
    /* width: 100%; */
    height: 600px;
   
}

.livros_texto2 img{
    margin-left: 827px;
    margin-top: -259px
}

.livros_texto2 p{
    font-size: 22px;
    width: 700px;
    font-family: 'Raleway', sans-serif;
}

/* footer */

footer div{
    /* width: 100%; */
    height: 32px;  
    background-color:#f58873;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    border-top: 2px solid rgb(242, 113, 113);
    font-family:Arial, Helvetica, sans-serif;
 }

 #espaco{
    height: 200px;
 }